@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
  @apply bg-red;
}
#root {
  @apply h-screen;
  background-image: url(./images/bg-intro-mobile.png);
}

@media (min-width: 640px) {
  #root {
    background-image: url(./images/bg-intro-desktop.png);
  }
}
